@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-size: 18px;
}
.header{
    background-image:url(images/bg-hero-desktop.svg) ;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: hsl(193, 100%, 96%);
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.nav a{
    text-decoration: none;
    padding: 10px 35px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    color: hsl(192, 100%, 9%);
}

.header-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
}

.header-image img{
    width: 100%;
}

.header-text{
    padding: 40px;
    margin-top: 15px;
}

.header-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 40px;
}

.header-text a{
    text-decoration: none;
    padding: 10px 27px;
    background-color:hsl(322, 100%, 66%) ;
    border-radius: 20px;
    color: white;
}
section{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 150px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    justify-items: center;
    align-self: center;
    gap: 25px;
}
.box .image{
    width: 100%;
}
.box .image img{
    width: 100%;
}

.box .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
}
.box .text h3{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}

.box .text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}
.box4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    background-color: white;
    margin-left: 25%;
    margin-top: -90px;
}
.box4 a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: hsl(322, 100%, 66%) ;
    border-radius: 20px;
}
footer{
    background-color: hsl(192, 100%, 9%);
    padding: 70px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.contact{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.contact1 .location{
    color: white;
    display: flex;
    font-size: 13px;
    margin-bottom: 5px;
    align-items: center;
}
.location img{
    width: 20px;
    height: 20px;
    margin-right: 25px;
}
.contact1 .phone{
    color: white;
    display: flex;
    font-size: 13px;
    margin-bottom: 20px;
    align-items: center;
}
.phone img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.contact1 .mail{
    color: white;
    display: flex;
    font-size: 13px;
    align-items: center;
}
.mail img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.contact2{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    gap: 20px;
    margin-top: 45px;
}

.contact3{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    gap: 20px;
    margin-top: 45px;
}

.contact2 a,.contact3 a{
    text-decoration: none;
    color: white;
}

.contact4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
}

.icons img{
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    margin-right: 8px;
}
.icons img::after{
    color: hsl(322, 100%, 66%) ;
}

a:hover{
    background-color: hsl(322, 56%, 72%);
}

@media screen and (max-width:750px){
    .header-section{
        grid-template-columns: 1fr;
    }
    .header-text{
        text-align: center;
    }
    .header-text a{
        padding: 10px 7s0px;
    }
    .box{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .contact{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 10px;
    }
    .location img{
        margin-right: 5px;
    }
}
@media screen and (max-width:500px){
    .nav img{
        width: 50%;
    }
    .nav a{
        padding: 10px 12px;
        font-size: 8px;
    }
    .box4{
        margin-top: -170px;
    }
    .logoContact{
        margin-left: -120px;
    }
}